
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h1>Welcome to the About Page!</h1>
    <p>Thank you for visiting this page to learn more about me.</p>

    <h2>About Me</h2>
    <p>My name is Ezenwa Chinemerem and I am a student of Seneca College studying Business-IT. My student ID is 111410221</p>
    <p>I am passionate about web design and development and enjoy working with HTML, CSS, and JavaScript to create engaging websites.</p>
    <p>I have acquired knowledge and experience in various web applications and frameworks.</p>
    <p>I am excited to continue learning and growing, and I look forward to applying my skills to create innovative and user-friendly web solutions.</p>

					
					
					<!-- End your code here  -->



				</main>
			</div>
		