<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<header>
						<h1>About Me</h1>
					</header>
					<br><br>
					<p> <b><i>Portia  Ezenwa is a dedicated Female student currently pursuing a degree at Seneca college with
						a passion for entrepreneurship and strategic thinking, Portia is constantly seeking opportunities to 
						expand her knowledge and skills in the business information world.</i></b></p>
					<br>
						<h5>
						<ul>Tutor: Ezenwa Chinemerem Portia</ul>
						<ul>Seneca Student Number: 111410221</ul>
						<ul>Program: Postgraduate Certificate in Business Information Technology </ul>
						<ul>College: Seneca College, Toronto, ON </ul>
					</h5>

		<!-- End your code here  -->



	</main>
</div>